<div class="container">
    <center>
        <div class="formLogin">
            <img width="100%" src="/public/assets/images/hoffmannLogo.svg" alt="logo">
            <form action="/login" method="post" id="login">
                <label for="email" class="mt-2 form-label">E-mail</label>
                <input class="form-control" type="email" name="email" id="email" required>
                <label for="senha" class="mt-2 form-label">Senha</label>
                <input class="form-control" type="password" name="senha" id="senha" required>
                <button style="width: 100%;" class="mt-2 btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </center>
</div>
